@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  height: 90vh;
  background-color: #2d3439;
  margin: 30px auto;
}
p {
  color: #fff;
}
