.cities {
  margin-top: 25px;
}
.city-item {
  display: flex;
  background-color: #42484d;

  border-radius: 8px;
  justify-content: space-between;

  padding: 10px 10px;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 15px;
}
.item-sec{
  position: relative;
}
.close {
  position: absolute;
  top :0px;
  right:0px;
}
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.left {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.title-1 {
  color: #fff;
}
.title-2 {
  color: #fff;
}
.back-btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 18px;
  width: fit-content;
}
.info-sec {
  background-color: #42484d;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.heading {
  color: #aaaaaa;
}
